.main {
  margin: 1rem 0;
  font-weight: 700;
  color: #0abe0a;
}
.container {
  display: flex;
  margin: 2rem 0;
  .title {
    color: #000;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 1rem;
  }
  .content {
    color: #000;
    font-weight: 500;
    margin-left: 1rem;
  }
}
.line {
  width: 100%;
  height: 0.01rem;
  background-color: #878788;
}
