.thumbnail {
  .img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
.basicInformation {
  margin: 0.5rem 1rem;
  .nation {
    width: 100%;
    background-color: #466ff5;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-bottom: 0.3rem;
  }
  .title {
    margin-top: 0.3rem;
    font-weight: 700;
    font-size: 2rem;
  }
  .hashTags {
    display: flex;
    .hashTag {
      color: #9b9595;
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
  }
  .price {
    color: #466ff5;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.5rem;
  }
}

.nextArea {
  background-color: #ddd;
  height: 1.5rem;
  margin-top: 2rem;
}

.departureDate {
  margin: 1rem;
  .departure {
    color: #9b9595;
  }
  .selectDepartureDate {
    margin-top: 1rem;
    .select {
      width: 100%;
      height: 4rem;
    }
  }
}
