.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .modalBody {
    position: absolute;
    margin-bottom: 10rem;
    width: 20rem;
    height: 15rem;
    padding: 4rem;
    text-align: center;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.3rem 0 #22242626;
    .top {
      margin-bottom: 1rem;
      .sharePhrases {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        margin-bottom: 10rem;
        font-weight: 700;
      }
      .closeButton {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: transparent;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .middle {
      height: 14rem;
    }
    .bottom {
      display: flex;
      width: 24rem;
      height: 3.5rem;
      margin-left: -2rem;
      .input {
        width: 80%;
        font-size: 1.6rem;
        font-weight: 700;
      }
      .button {
        background-color: #fff;
        border: 1px solid #22242626;
        width: 25%;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 700;
        &:hover {
          background-color: #ebe9e9;
        }
      }
    }
  }
}
