.img {
  width: 16.7rem;
  height: 11.1rem;
  cursor: pointer;
}
.nation {
  width: 100%;
  background-color: #466ff5;
  color: #fff;
  font-size: 1rem;
  border-radius: 1rem;
  padding-top: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-bottom: 0.3rem;
}
.title {
  width: 16rem;
  margin-top: 0.3rem;
  font-weight: 700;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hashTags {
  display: flex;
  width: 16rem;
  .hashTag1 {
    width: 6rem;
    color: #99aff9;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .hashTag2 {
    width: 8rem;
    color: #99aff9;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.price {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}
