.main {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.category {
  display: flex;
  .bundle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.2rem;
    .categoryName {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 0.6rem;
    }
  }
}
