.category {
  display: flex;
  margin-top: 4vw;
  justify-content: space-evenly;
  .bundle {
    display: flex;
    flex-direction: column;
    align-items: center;
    .categoryName {
      font-size: 2.4vw;
      margin-top: 0.8vw;
    }
  }
  .img {
    width: 10.6vw;
    height: 10.6vw;
  }
}
