.category {
  display: flex;
  margin-top: 2.1rem;
  .bundle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.6rem;
    .categoryName {
      font-size: 1.2rem;
      margin-top: 0.4rem;
    }
  }
  .img {
    width: 5.3rem;
    height: 5.3rem;
  }
}
