.category {
  display: flex;
  margin-top: 2rem;
  justify-content: space-evenly;
  font-weight: 400;
  .bundle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .category {
    .bundle {
      .categoryName {
        font-size: 1.6rem;
        margin-top: 0.8rem;
      }
    }
    .iconSize {
      width: 5.3rem;
      height: 5.3rem;
    }
  }
}
@media all and (min-width: 576px) and (max-width: 768px) {
  .category {
    .bundle {
      .categoryName {
        font-size: 1.7rem;
        margin-top: 0.8rem;
      }
    }
    .iconSize {
      width: 7.4rem;
      height: 7.4rem;
    }
  }
}
@media (min-width: 768px) {
  .category {
    .bundle {
      .categoryName {
        font-size: 1.8rem;
        margin-top: 0.8rem;
      }
    }
    .iconSize {
      width: 9.5rem;
      height: 9.5rem;
    }
  }
}
