.layout-container {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  min-height: 100vh;
}
.children-container-with-padding {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.children-container-without-padding > div:first-child {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
