.mainAndMore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6.4vw;
  .main {
    margin-left: 3.2vw;
    font-size: 4vw;
    font-weight: 700;
  }
  a {
    color: #4581f8;
    margin-right: 3.2vw;
    font-size: 3.2vw;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
}
