.navbar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  .icon {
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }
  .title {
    flex-grow: 1;
    text-align: center;
  }
}
