.clickable-icon:hover {
  cursor: pointer;
}

.label {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.no-result {
  margin-top: 2rem;
}
