.input-wrapper {
  margin-bottom: 2rem;
  .label {
    padding-bottom: 1rem;
  }
}

.flex-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-wrapper {
  margin-bottom: 2rem;
  text-align: center;
}
