.input-wrapper {
  margin-bottom: 2rem;
  .label {
    padding-bottom: 1rem;
  }
  .error-message {
    color: tomato;
    height: 1.6rem;
  }
  .success-message {
    color: green;
    height: 1.6rem;
  }
}

.flex-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-wrapper {
  margin-bottom: 2rem;
  text-align: center;
}
