.main {
  margin: 1rem 0;
  font-weight: 700;
}
.all {
  display: flex;
  flex-direction: column;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 8rem;
    .img {
      margin-top: 2rem;
    }
    .title {
      margin: 2rem 0;
      color: #000;
      font-weight: 700;
      font-size: 2rem;
    }
    .content {
      text-align: center;
      width: 70%;
    }
  }
}
.end {
  display: flex;
  margin-bottom: 2rem;
  .img {
    width: 10%;
  }
  .content {
    width: 85%;
    font-weight: 700;
  }
}
.endFinal {
  display: flex;
  padding-bottom: 7rem;
  .img {
    width: 10%;
  }
  .content {
    width: 90%;
    font-weight: 700;
  }
}
.more {
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 10rem;
}
