.nav {
  border-bottom: 1px solid #ddd;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .flex-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    .flex-wrapper-favorite {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
