.img {
  position: relative;
  width: 20rem;
  height: 13.2rem;
  border-radius: 0.8rem;
}
.title {
  position: absolute;
  bottom: 1.6rem;
  left: 1.6rem;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}
