.img {
  position: relative;
  width: 25rem;
  height: 16.6rem;
  cursor: pointer;
}
.title {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
}
