.buttonBackground {
  width: 5rem;
  height: 5rem;
  color: #fff;
  position: fixed !important;
  bottom: 5%;
  right: 38%;
  z-index: 2;
  cursor: pointer;
  .button {
    width: 5rem;
    height: 5rem;
    color: #878788;
    z-index: 2;
    cursor: pointer;
  }
}
