.fix {
  position: fixed;
  bottom: 17%;
  margin-left: 28.8rem;
  z-index: 2;
  .buttonBackground {
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    .button {
      width: 4rem;
      height: 4rem;
      color: #878788;
    }
  }
}
