.main {
  color: #cf2626;
  font-weight: 700;
  margin: 1rem 0;
}
.container {
}
.more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  background-color: rgb(180, 180, 180, 0.1);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    top: -30px;
    height: 30px;
    background: linear-gradient(
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.8) 66%,
      rgba(255, 255, 255, 0.9) 83%,
      rgba(255, 255, 255, 0.98) 98%,
      #fff
    );
  }
}
