.input-wrapper {
  margin-bottom: 2rem;
  .label {
    padding-bottom: 1rem;
  }
}

.error-message {
  color: tomato;
  height: 1.6rem;
}
.success-message {
  color: green;
  height: 1.6rem;
}

.button-wrapper {
  text-align: center;
}

.signup-link-wrapper {
  text-align: center;
  margin-top: 2rem;
}
