.click {
  cursor: pointer;
}
.img {
  width: 30.4vw;
  height: 30.4vw;
  border-radius: 1.6vw;
  margin-bottom: 0.8vw;
}
.nation {
  width: 100%;
  background-color: #466ff5;
  color: #fff;
  font-size: 2.4vw;
  border-radius: 5.4vw;
  padding: 0.4vw 1.4vw;
}
.title {
  margin-top: 0.8vw;
  font-weight: 700;
  font-size: 2.4vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hashTags {
  display: flex;
  width: 32vw;
  .hashTag1 {
    width: 6vw;
    color: #4581f8;
    font-size: 2vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .hashTag2 {
    width: 16vw;
    color: #4581f8;
    font-size: 2vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
.price {
  font-size: 2.4vw;
  font-weight: 700;
  margin-top: 1.2vw;
}

.group {
  height: 9vw !important;
  margin-top: -3.2vw;
  margin-bottom: 4vw;
  margin-left: 3.2vw;
  height: 7vw;
  .selectcompanion {
    width: auto !important;
    .selectGroup {
      width: 11.6vw;
      height: 7vw;
      text-align: center;
      line-height: 7vw;
      background-color: #fff;
      color: #8a8a8a;
      cursor: pointer;
      font-size: 2.8vw;
      font-weight: 700;
      border: solid 0.2vw #cbcbcb;
      border-radius: 3.2vw;
      padding-top: 1.2vw;
      padding-left: 3.2vw;
      padding-right: 3.2vw;
      padding-bottom: 1.2vw;
      &:hover {
        line-height: 7vw;
        text-align: center;
        background-color: #4581f8;
        color: #fff;
        font-size: 2.8vw;
        font-weight: 700;
        border-radius: 3.2vw;
        padding-top: 1.2vw;
        padding-left: 3.2vw;
        padding-right: 3.2vw;
        padding-bottom: 1.2vw;
      }
    }
    .choice {
      line-height: 7vw;
      text-align: center;
      background-color: #4581f8;
      border: solid 0.2vw #4581f8;
      color: #fff;
      font-size: 2.8vw;
      font-weight: 700;
      border-radius: 3.2vw;
      padding-top: 1.2vw;
      padding-left: 3.2vw;
      padding-right: 3.2vw;
      padding-bottom: 1.2vw;
      pointer-events: none;
    }
  }
}
