.css-10hburv-MuiTypography-root,
.css-83ijpv-MuiTypography-root {
  font-size: 1.6rem;
}
@media (min-width: 600px) {
  .css-cuefkz-MuiContainer-root {
    padding-left: 0;
    padding-right: 0;
  }
}
