.productDetail {
  .thumbnail {
    .img {
      margin: 0 -1.7rem 1rem -1.7rem;
      width: 36rem;
      height: 36rem;
      cursor: pointer;
    }
  }
  .basicInformation {
    margin: 1.977rem 0 0 0;
    .nation {
      width: auto;
      background-color: #4581f8;
      color: #fff;
      font-size: 1.4rem;
      text-align: center;
      border-radius: 2.7rem;
      padding: 0.5rem 1rem;
    }
    .title {
      margin-top: 0.8rem;
      font-weight: 700;
      font-size: 2rem;
    }
    .hashTags {
      display: flex;
      margin-top: 0.8rem;
      .hashTag {
        color: #919191;
        font-size: 1.6rem;
      }
    }
    .price {
      color: #466ff5;
      font-size: 2rem;
      font-weight: 700;
      margin-top: 0.8rem;
    }
  }
  .line {
    width: 35.8rem;
    height: 0.2rem;
    margin: 1.8rem -1.6rem 1rem -1.6rem;
    background-color: #eaeaea;
  }
  .nextArea {
    width: 35.8rem;
    height: 1.6rem;
    margin: 2rem -1.6rem;
    background-color: #f2f4fa;
  }

  .wish_reser {
    display: flex;
    align-items: center;
    margin-top: 1.6rem;
    .wish {
      width: 7.5rem;
      height: 4.8rem;
      font-weight: 500;
      color: #ffffff;
      background-color: #4581f8;
      border-radius: 0.6rem;
      line-height: 4.8rem;
      text-align: center;
      margin-right: 0.8rem;
      cursor: pointer;
    }
    .reservation {
      width: 24.5rem;
      height: 4.8rem;
      color: #4581f8;
      background-color: #fff;
      border: 0.1rem solid #4581f8;
      border-radius: 0.6rem;
      font-weight: 700;
      line-height: 5rem;
      text-align: center;
      cursor: pointer;
    }
  }

  .departureDate {
    margin-top: 3.1rem;
    .departure {
      color: #242424;
      font-size: 1.4rem;
    }
    .selectDepartureDate {
      margin-top: 1.2rem;
      .select {
        width: 100%;
        height: 4.8rem;
        border-radius: 0.6rem;
        border-color: #d2d2d2;
      }
    }
  }
  .inforTitle {
    font-size: 2rem;
    font-weight: 700;
    margin: 2rem 0 1.6rem 0;
  }
  .titleContent {
    display: flex;
    margin: 1rem 0;
    .title {
      width: 15%;
      color: #878787;
      font-weight: 700;
    }
    .content {
      width: 70%;
      font-weight: 700;
    }
  }
  .favoriteContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .favoriteModalBody {
      position: absolute;
      width: 32.8rem;
      height: 14.8rem;
      text-align: center;
      background-color: #fff;
      border-radius: 1.2rem;
      box-shadow: 0.6rem 0.6rem 1.6rem #a9a9a980;
      .contents {
        font-size: 1.6rem;
        color: #222;
        margin: 3rem 0;
      }
      .select {
        display: flex;
        justify-content: center;
        .goFavorite {
          width: 14.4rem;
          height: 2.4rem;
          color: #4581f8;
          background-color: #fff;
          font-size: 1.6rem;
          border: 0.1rem solid #4581f8;
          border-radius: 0.6rem;
          padding: 1.2rem 0;
          margin-right: 0.8rem;
        }
        .stay {
          width: 14.4rem;
          height: 2.4rem;
          color: #fff;
          background-color: #4581f8;
          font-size: 1.6rem;
          border: 0.1rem solid #4581f8;
          border-radius: 0.6rem;
          padding: 1.2rem 0;
        }
      }
    }
  }
  .share {
    color: #4581f8;
    height: 4.8rem;
    margin-top: 2rem;
    border: 0.1rem solid #4581f8;
    border-radius: 0.6rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 4.8rem;
    text-align: center;
    cursor: pointer;
  }
  .shareContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .shareModalBody {
      position: absolute;
      margin-bottom: 10rem;
      width: 20rem;
      height: 15rem;
      padding: 4rem;
      text-align: center;
      background-color: #fff;
      border-radius: 0.5rem;
      box-shadow: 0 0.2rem 0.3rem 0 #22242626;
      .top {
        margin-bottom: 1rem;
        .sharePhrases {
          position: absolute;
          top: 1.5rem;
          left: 1.5rem;
          margin-bottom: 10rem;
          font-weight: 700;
        }
        .closeButton {
          position: absolute;
          top: 1.5rem;
          right: 1.5rem;
          background-color: transparent;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .middle {
        height: 14rem;
      }
      .bottom {
        display: flex;
        width: 24rem;
        height: 3.5rem;
        margin-left: -2rem;
        .input {
          width: 80%;
          font-size: 1.6rem;
          font-weight: 700;
        }
        .button {
          background-color: #fff;
          border: 0.1rem solid #22242626;
          width: 25%;
          cursor: pointer;
          font-size: 1.4rem;
          font-weight: 700;
          &:hover {
            background-color: #ebe9e9;
          }
        }
      }
    }
  }

  .FlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .GridContainer {
      display: grid;
      grid-template-columns: repeat(4, 4.8rem);
      grid-column-gap: 0.8rem;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.6rem;
    }
    .site {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 6.56rem;
      .siteName {
        margin-top: -0.4rem;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 700;
      }
      .icon {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 100%;
        cursor: pointer;
      }
      .kakaoImg {
        margin-top: 0.1rem;
        width: 4.65rem;
        height: 4.65rem;
        border-radius: 100%;
        cursor: pointer;
      }
      .kakao {
        width: 6rem;
        font-size: 1rem;
        font-weight: 700;
      }
      .naverImg {
        margin-top: 0.15rem;
        width: 4.65rem;
        height: 4.65rem;
        cursor: pointer;
      }
      .naver {
        margin-top: -0.02rem;
        font-size: 1rem;
        font-weight: 700;
      }
      .naverBandImg {
        margin-top: 0.1rem;
        border-radius: 100%;
        width: 4.65rem;
        height: 4.65rem;
        cursor: pointer;
      }
      .naverBand {
        margin-top: 0rem;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
  .explicate {
    padding-bottom: 2rem;
    width: 36rem;
    height: auto;
  }
  .more {
    position: relative;
    bottom: 7.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 4.8rem;
    background-color: #fff;
    border: 0.1rem solid #4581f8;
    border-radius: 0.8rem;
    &:before {
      content: '';
      position: absolute;
      margin: 0 -1.7rem 1rem -1.7rem;
      left: 0;
      display: block;
      width: 36rem;
      top: 3.6rem;
      height: 3rem;
      background: linear-gradient(
        rgba(255, 255, 255, 0.01),
        rgba(255, 255, 255, 0.8) 66%,
        rgba(255, 255, 255, 0.9) 83%,
        rgba(255, 255, 255, 0.98) 98%,
        #fff
      );
    }
    .pharse {
      font-size: 1.6rem;
      font-weight: 500;
      color: #4581f8;
      margin-right: 0.5rem;
    }
  }
  .introNextArea {
    width: 35.8rem;
    height: 1.6rem;
    margin: -6rem -1.6rem 0 -1.6rem;
    background-color: #f2f4fa;
  }
}
