.category {
  font-size: 2rem;
  font-weight: 700;
  margin: 1.4rem 0;
}
.categoryLine {
  width: 100%;
  height: 0.01rem;
  background-color: #878788;
}

.selectBox_group {
  display: flex;
  margin: 1.2rem 0;
  flex-wrap: wrap;
  .selectBoxArrow {
    display: flex;
    align-items: center;
    width: 8.2rem;
    height: 4rem;
    border: 0.01rem solid #878788;
    border-radius: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    .selectBox {
      position: relative;
      width: 6.5rem;
      background-color: #fff;
      border: none;
      margin-left: 0.2rem;
      color: #878788;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 700;
      margin-left: 0.5rem;
    }
    .arrowDown {
      position: absolute;
      margin-left: 6rem;
      margin-top: 0.3rem;
      color: #878788;
    }
  }
}
.selectBoxLsine {
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
  width: 100%;
  height: 0.01rem;
  background-color: #878788;
}

.totalFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  .productTotal {
    color: #878788;
    font-weight: 700;
  }
  .selectBox {
    height: 4rem;
    font-weight: 700;
  }
}
.totalFilterLine {
  margin-bottom: 2rem;
  width: 100%;
  height: 0.01rem;
  background-color: #878788;
}

.productLists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .productList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .imgClick {
      cursor: pointer;
    }
    .nation {
      width: auto;
      background-color: #466ff5;
      color: #fff;
      font-size: 1rem;
      text-align: center;
      line-height: 1rem;
      border-radius: 1rem;
      padding-top: 0.5rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      padding-bottom: 0.3rem;
      margin-top: 0.5rem;
    }
    .title {
      width: 18.5rem;
      margin-top: 0.3rem;
      font-weight: 700;
      font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .hashTags {
      display: flex;
      width: 12rem;
      .hashTag {
        width: 6rem;
        color: #99aff9;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .price {
      font-size: 1.2rem;
      font-weight: 700;
      margin-top: 0.5rem;
      margin-bottom: 3rem;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  .modalBody {
    position: absolute;
    bottom: 0;
    width: 41.4rem;
    height: 90%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    text-align: center;
    background-color: #fff;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 0 0.2rem 0.3rem 0 #22242626;
    animation: fadeInUp 0.2s;
    margin-bottom: 5rem;
    .top {
      margin-top: 3rem;
      .sharePhrases {
        width: 15rem;
        font-size: 2rem;
        font-weight: 700;
      }
      .sharePhrasesA {
        width: 17rem;
        font-size: 2rem;
        font-weight: 700;
      }
    }
    .middle {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      overflow-y: auto;
      margin-top: 3rem;
      margin-right: 1rem;
      .select {
        width: 43%;
        height: 4.5rem;
        border: 0.2rem solid #898988;
        margin-left: 2rem;
        margin-bottom: 1rem;
        display: flex;
        &:hover {
          color: red;
          cursor: pointer;
        }
        .selectName {
          margin-left: 1rem;
          cursor: pointer;
          display: block;
          text-align: center;
          line-height: 4.5rem;
          font-weight: 700;
          color: red;
        }
        .name {
          margin-left: 1rem;
          cursor: pointer;
          display: block;
          text-align: center;
          line-height: 4.5rem;
          font-weight: 700;
        }
      }
    }
    .bottom {
      position: fixed;
      bottom: 0;
      width: 41.5rem;
      background-color: #fff;
      .result {
        height: 5rem;
        border: solid 0.1rem #000;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 5rem;
        text-align: center;
        cursor: pointer;
        &:hover {
          background-color: #e1d8d8;
        }
      }
    }
  }
}
