.swiper-pagination {
  width: 10vw !important;
  height: 5vw !important;
  bottom: 4.2vw !important;
  left: auto !important;
  right: 3.4vw !important;
  background-color: #000000 !important;
  border-radius: 20vw;
  opacity: 0.5;
  color: #fff;
  font-size: 2.4vw;
  line-height: 5vw;
}
.swiper-banner {
  width: 100% !important;
}
.swiper-list {
  min-height: 40vw !important;
  max-height: 56vw !important;
  margin-left: 3.2vw !important;
}
.swiper-continent-all {
  margin-left: 3.2vw !important;
}
.swiper-continent {
  width: 40vw !important;
  height: 26.4vw !important;
}
