.swiper-pagination {
  width: 10vw !important;
  height: 5vw !important;
  bottom: 4.2vw !important;
  left: auto !important;
  right: 3.4vw !important;
  background-color: #000000 !important;
  border-radius: 20vw;
  opacity: 0.5;
  color: #fff;
  font-size: 2.4vw;
  line-height: 5vw;
}
.swiper-banner {
  width: 100% !important;
}
.swiper-list {
  margin-left: 3.2vw !important;
}
.swiper-continent-all {
  min-height: 20vw !important;
  margin-left: 3.2vw !important;
}
.swiper-continent {
  width: 40vw !important;
  height: 26.4vw !important;
}
@media (min-width: 320px) {
  .swiper-list {
    height: 62vw !important;
  }
}
@media (min-width: 360px) {
  .swiper-list {
    height: 59vw !important;
  }
}
@media (min-width: 425px) {
  .swiper-list {
    height: 56vw !important;
  }
}
@media (min-width: 640px) {
  .swiper-list {
    height: 52vw !important;
  }
}
@media (min-width: 768px) {
  .swiper-list {
    height: 54vw !important;
  }
}
@media (min-width: 1024px) {
  .swiper-list {
    height: 49vw !important;
  }
}
